/* Styles for the homepage */
#grace-wrap {
  background: #fff;
  display: none;
  max-width: 100%;
  min-width: 738px;
  margin: 0 auto;
}

.container,
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  min-width: 738px !important;
}

.fixed .container-fluid {
  max-width: 1300px;
}

.fixed .container-fluid.no-pad {
  padding-right: 0;
  padding-left: 0;
}

.fixed .container-fluid.no-pad .row {
  margin-right: 0;
  margin-left: 0;
}

.fixed .container-fluid.no-pad .row [class^="col-"],
.fixed .row.no-gutters [class*=" col-"]{
   padding: 0;
}

/* no-gutters class rules for full width, no gutters */
.container-fluid.no-pad .row.tiles {
   margin-right: 0;
   margin-left: 0;
}
.container-fluid.no-pad .row.tiles [class^="col-"],
.container-fluid.no-pad .row.tiles [class*=" col-"]{
   padding: 2px;
}


/* for index 1 where full bleed top sales occur */
.full-bleed .row.tiles {
   margin-right: 2px;
   margin-left: 2px;
}

.full-bleed .row.tiles [class^="col-"],
.full-bleed .row.tiles [class*=" col-"]{
  padding: 2px;
}

.fade-in {
  display: none;
}

.container-full-width {
  position: relative;
  width: 100%;
}

#cross-sell {
  background: none;
}

.stripe {
  background: #ededed;
  padding: 60px 0;
}

#cross-sell .stripe {
  padding: 60px 0 20px 0;
}

.header-spaced h2 {
  display: block;
  text-align: center;
  padding: 80px 0 20px 0;
}

#collections .full-height {
  padding-right: 0;
  width: 53%;
}

#collections .half-height {
  width: 47%;
}

#collections .half-height-top {
  margin-bottom: 3.3345%;
}

#collections .half-height-top,
#collections .half-height-bottom {
  float: right;
}

/* Hero Carousels ***********************/

.carousel-control {
  z-index: 2;
}

#search-hero .carousel-inner img,
#magazine .carousel-inner img {
  width: 100%;
}

#search-hero .carousel-inner .carousel-caption,
#magazine .carousel-inner .carousel-caption {
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.65)));
   background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
   background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
   background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
   background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
}

#search-hero .cta-button {
  height: 48px;
  letter-spacing: 1px;
  line-height:41px;
}

#search-hero .fa-search {
  color: #FFF;
  display: inline-block;
  font-size: 30px;
  margin: 0 10px 0 5px;
}

#search-hero p.search-label {
  border-right: 1px solid #fff;
  font-size: 22px;
  display: inline-block;
  padding:0 20px 0 0;
  margin:0 10px 0 0;
}

#search-hero input[type="text"] {
  background: none;
  cursor: pointer;
  border: none;
  color: #FFF;
  display: inline-block;
  font-weight: 100;
  padding: 4px 10px;
  width: auto;
  -bracket-:hack[;
      font-weight: 200; /* saf only */
  ];
}

#search-hero input:hover {
  background: rgba(255,255,255, 0.3);
}

#search-hero input:focus { 
  background: rgba(0,0,0, 0.3); 
}

#magazine .carousel-inner .carousel-caption {
  right: 0;
  left: 0;
  bottom: 0;
  font-size: 40.5px;
  padding: 80px 0 60px 0;
}

#search-hero #search-container {
  background: rgba(0,0,0, 0.7);
  padding: 20px 0;
  position: absolute;
  top: left;
  width: 100%;
  z-index: 100;
}

#search-hero #search-container.affix {
  background: rgba(0,0,0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

#search-hero #search-container .control-container {
  float: left;
  padding-left: 0;
}

#search-hero #search-container .control-container {
  position: relative; 
}

#search-hero #search-container .control-container img {
  cursor: pointer;
  position: absolute;
  top: 6px;
  left: 5px;
  z-index: 10;
}

#search-hero #search-container .date-range.control-container {
  width: 47.55%;
}
#search-hero #search-container .date-range.control-container.check-out {
  width: 48.55%;
}

#search-hero #search-container .date-range.control-container .date-range-control {
  padding-left: 40px;
  width: 100%;
}

#search-hero #search-container .control-container.first {
  padding-left: 15px; 
}

#search-hero #search-container .control-container-inner {
  background: rgba(255,255,255, 0.3);
  color: #FFF;
  font-size: 20px;
  height: 48px;
  padding: 7px;
  white-space:nowrap;
}

#search-hero #search-container .control-container-inner .search-label-container {
 float: left;
 width: 41%;
}

#search-hero #search-container .control-container-inner .search-field-container {
 float: left;
 width: 59%;
}

#search-hero #search-container .control-container-inner .search-field-container input[type="text"] {
  display: block;
  width: 100%;
}

#search-hero #search-container #date-range-container .control-container-inner {
  background: rgba(255,255,255, 0.3) url(../images/divider-line.png) repeat-y 49% center;
}

#search-hero .carousel-inner .carousel-caption {
  text-align: left;
}

#search-hero .carousel-inner .carousel-caption h1 {
  font-weight: 200;
  margin-top: 15px;
}

#search-hero .carousel-inner .carousel-caption h4 {
  font-weight: 100;
}

#search-hero .carousel-inner .carousel-caption .timing {
  font-size: 17px;
}

#search-hero .carousel-control.left img, 
#search-hero .carousel-control.right img {
  position: absolute;
  text-shadow: 0 1px 2px rgba(0,0,0,.9);
  bottom: 43%;
  top: auto;
}

#search-hero .carousel-control.left img {
  left: 15px;
}

#search-hero .carousel-control.right img {
  right: 15px;
}

#magazine .carousel-control.left img, 
#magazine .carousel-control.right img {
  position: absolute;
  bottom: 50px;
  top: auto;
}

#magazine .carousel-control.left img {
  left: 55px;
}


/* Sales Tiles ************************/

#sales-tiles-tabs {
  margin: 60px 0 35px 0;
}

#sales-tiles-tabs.nav-tabs.nav-justified>li>a {
  border: none;
  border-radius: 0;
  color: #222;
  font-size: 16px;
  display: inline-block;
  padding: 0;
  text-transform: uppercase;
  white-space:nowrap;
}

#sales-tiles-tabs.nav-tabs.nav-justified>li>a:hover,
#sales-tiles-tabs.nav-tabs>li.active>a:hover {
  background: none;
  color: #f78c0d;
  border-bottom: 2px solid #f78c0d;
}

#sales-tiles-tabs.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus {
  border-bottom: 2px solid #222;
}

#sales-tiles .sale-tile {
  position: relative;
}

#sales-tiles .sale-tile a img {
  opacity: .9;
}

#sales-tiles .sale-tile a:hover img {
  opacity: 1;
}

#sales-tiles .sale-tile-detail {
  color: #FFF;
  position: absolute;
  bottom: 2px;
  left: 2px;
  width: 99%;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.65)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  z-index: 100;
}

#sales-tiles .sale-tile-detail .sale-tile-detail-inner {
  padding: 50px 20px 20px 20px;
}

#sales-tiles .sale-tile-detail .sale-tile-detail-inner .grouping {
  font-size: 12px;
  -bracket-:hack[;
      font-weight: 200; /* saf only */
  ];
}

#sales-tiles .sale-tile-detail .sale-tile-detail-inner h1 {
  font-size: 20px;
  margin: 0 0 5px 0;
  padding: 0;
}

#sales-tiles .sale-tile-detail .sale-tile-detail-inner h2 {
  font-size: 13px;
  font-weight: 200;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

#sales-tiles .sale-tile-detail .sale-tile-detail-inner p {
  margin: 0;
}

.row.no-gutters.toggle-row {
  padding: 0;
}

a.see-more-toggle {
  background: rgba(0,0,0, 0.6);
  color: #FFF;
  float: right;
  font-size: 14px;
  font-weight: 100;
  margin-top: -4px;
  margin-right: 0px;
  padding: 10px 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

a.see-more-togggle-up {
  display: none;
}

.extra-row {
  display: none;
}

/* Upcoming ***************************/
#splash .lists article header h1 {
  font-size: 20px;
}
#splash .lists .list {
  border-top: 1px solid #dad8d7;
}

#splash .lists .list {
  margin-left: 0;
  padding-left: 0;
}

#splash .lists li {
  list-style-type: none;
  width: 100%;
}

#splash .lists li a {
  border-bottom: 1px solid #dad8d7;
  display: block;
  font-size: 15px;
  color: #000;
  padding: 10px 0;
  text-decoration: none;
}

#splash .lists li a:hover {
  color: #f78c0d;
}

#splash .lists .upcoming li span.icon {
  padding-right: 11px;
  background: url(http://cdnx.jetcdn.com/static/images/splash3/splash-sprite.png?v4) -244px -267px no-repeat;
  height: 22px;
  width: 30px;
  display: block;
  float: left;
}

#splash .lists li p {
  float: left;
  margin: 0;
}

#splash .lists li p span {
font-size: 16px;
font-family: Georgia;
color: #7c7e78;
}

#splash #cross-sell .cross-sell-item .grouping {
  bottom: 55px;
  -bracket-:hack[;
      font-weight: 200; /* saf only */
  ];
}

/* responsive media query settings for break points ***************/

@media (min-width: 1300px) {

}

@media (max-width: 1200px) {
  #search-hero #search-container .control-container-inner .search-label-container {
    width: auto;
  }
  
  #search-hero #search-container .control-container-inner .search-field-container {
    width: 51%;
  }
}

@media (max-width: 1170px) {
  #search-hero #search-container .control-container-inner .search-field-container {
    width: 49.5%;
  }
}

@media (max-width: 1002px) {
  #search-hero #search-container .control-container-inner .search-field-container {
    width: 48%;
  }
}

@media (max-width: 990px) {
  #search-hero #search-container .control-container-inner {
    padding: 7px; 
  }
  
  #search-hero #search-container .control-container-inner .search-label-container {
    width: auto;
  }
  
  #search-hero #search-container .control-container-inner .search-field-container {
    width: 83%;
  }
  #sales-tiles-tabs.nav-tabs.nav-justified>li>a {
    font-size: 15px;
    text-transform: none;
  }
  
  #splash .lists li p {
    width:85%;
    font-size: 14px;
  }
  
  #splash .lists li p span {
    font-size: 14px;
  }
  }
  
}
