body {
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFF, #dee2e5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFF, #dee2e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Average Sans', sans-serif;
}

body.scroll-lock {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

body.search-active .search-backdrop {
  display: block;
}

body.search-active .search-container {
  position: relative;
  z-index: 10000;
}

header {
  padding: 10px 0;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header .search-container {
  border-bottom: 1px solid rgb(0, 85, 149);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 70%;
}

header .search-container:hover {
  text-decoration: none;
}

header .search-container .fa.fa-search {
  color: rgb(0, 85, 149);
  font-size: 1.5rem;
}

header .btn-login {
  background: rgb(0, 85, 149);
  border-radius: 3px;
  margin-left: 15px;
}

header .profile-nav {
  flex: 0;
}

header .search-container input[type=search],
header .search-container input[type=search]:focus {
  border: none; width: 100%; font-size: 1.5rem;
  outline: 0;
  padding-left: 30px;
}

.content-container {
  padding-top: 70px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top:-150px;
  z-index:1;
}

.search-backdrop {
  background: rgba(255,255,255,0.95);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  padding-top: 97px;
  padding-left: 80px;
  box-shadow: 0 21px 24px rgba(0,0,0,0.4);
}

.search-backdrop .close {
  position: relative;
  top: -75px;
  z-index: 10000;
}

.search-backdrop ul {
  height: calc(400px - 100px);
  overflow: hidden;
  padding-left: 10px;
}

.search-backdrop h5 {
  color: rgb(0, 85, 149);
  text-transform: uppercase;
}

.search-backdrop ul {
  list-style-type: none;
  height: calc(485px - 100px);
  overflow: scroll;
}

.mini-hero {
  background-size: 100% auto;
  position: relative;
  height: 300px;
  padding-top: 79px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.mini-hero h1 {
  color: rgb(0, 85, 149);
  font-family: ;
  text-align: center;
}

.mini-hero:before {
  background-image: url(../imgs/mini-hero.jpg);
  background: none;
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.15;
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.primary-pod {
  background: #FFF;
  height: 600px;
  box-shadow: 0.7em 3em 5em rgba(0,0,0,0.45);
  padding: 40px;
  z-index: 2;
  transition: all ease .2s;
}

.primary-pod #asset-details {
  display: none;
}

.primary-pod.focused #asset-details {
  display: block;
}

.primary-pod.focused {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -175px;
  height: 700px;
  bottom: 20px;
  width: 80%;
  z-index: 100;
}

.primary-pod.focused .asset-filter-list {
  height: calc(500px);
}

.primary-pod button.close {
  display: none;
}

.primary-pod.focused button.close {
  display: block;
}

.primary-pod.invisible {
  visibility: hidden;
}

.primary-pod .filter-list,
.primary-pod .asset-filter-list {
  height: calc(500px - 75px);
  overflow: scroll;
}

.primary-block .nav.nav-tabs {
  margin-bottom: 50px;
}

.fdk .card h4 {
  font-weight: bold;
}

.main-toggler {
  padding top: 30px;
}

.hidden {
  display: none;
}

.fdb-block .fdb-touch {
  border-top: none;
  box-shadow: none;
}

.main-toggler h2 a {
  color: #888;
  font-size: 1.7rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.main-toggler h2 a.active {
  color: #528bff;
  text-decoration: underline;
}

.main-document {
  padding-top: 30px;
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;
  background: #FFF;
  width: 90%;
}

.list-details .card {
  border-top: solid 2px #528bff;
  margin-bottom: 30px;
}

.list-details .card h2.card-title {
  font-weight: bold;
  font-size: 1.6rem;
}

.asset-filter-list ul,
.filter-list  ul {
  padding-left: 0;
  margin-left: 0;
}

.asset-filter-list li,
.filter-list li {
  cursor: pointer;
  font-size: 1.1rem;
  line-height: 1.7rem;
  padding: 8px 10px;
  list-style-type: none;
}

.asset-filter-list li:hover,
.filter-list li:hover {
  background: #eff1f3;
}

.asset-filter-list li.active, 
.filter-list li.active {
  background: #528bff;
  color: #FFF;
}