@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900");

:root {
  --link-underline-color: #319bcc;
} 

html:not([data-scroll='0']) {
  padding-top: 3em;
}
html:not([data-scroll='0']) .cs-partner-logo {
  height: 65px;
}

body {
  background: #FFF;
  font-family: "Poppins", Helvetica, arial, sans-serif;
  border-top: 7px solid #1B2A3F;
}

strong {
  font-weight: 600;
}

h5 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

a,
a:visited {
  color: #000;
  text-decoration-color: var(--link-underline-color);
  text-underline-offset: .2em;
}

a:hover {
  background: #;
}

.bg-container {
  background: #FFF url(../images/bg-peoria-2.png) no-repeat -150px 60px;
}

@media(max-width: 991px) {
  .bg-container {
    background: #FFF url(../images/bg-peoria.jpg) no-repeat center left;
    background-size: cover;
  }
}

.alternate .bg-container {
  background: #FFF url(../images/bg-peoria.jpg) no-repeat center left;
  /*background: #FFF url(https://evanstonil.civicserve.com/Image/Pages/1) no-repeat center left;*/
  background-size: cover;
}

.evanston .bg-container {
  background: #FFF url(../images/bg-evanston.png) no-repeat center left;
  /*background: #FFF url(https://evanstonil.civicserve.com/Image/Pages/1) no-repeat center left;*/
  background-size: cover;
}

.dundee .bg-container {
  background: #FFF url(../images/bg-evanston.png) no-repeat center left;
  /*background: #FFF url(https://evanstonil.civicserve.com/Image/Pages/1) no-repeat center left;*/
  background-size: cover;
  position: sticky;
  top:100px;
  z-index: -1;
}

.bg-container-overlay {
  background: rgba(255,255,255,0.75);
  width: 100%;
  height: 100%;
}

.alternate .bg-container-overlay {
  background: rgba(255,255,255,0.92);
}

.alternate.dundee .bg-container-overlay {
  background: rgba(255,255,255,0.5);
}

.alternate.evanston .bg-container-overlay {
  background: rgba(255,255,255,0.6);
}

.cs-cslogo-cobrand {
  border-bottom: 1px solid #FFF;
  margin-left: 5px; 
  margin-top: -3px;
  padding-bottom: 2px;
}

.cs-info {
  background: #eff2f9;
  padding: 75px 0 60px 0;
}

@media(max-width: 768px) {
  .cs-info-block:not(.last) {
    margin-bottom: 45px;
  }
}

.cs-info p {
  font-weight: 300 !important;
}

.alternate .cs-info {
  background: #FFF;
}

.alternate .cs-info.dark {
  background: #132e51;
  color: #FFF;
}

.cs-info.dark a, 
.cs-info.dark a:visited {
  color: #FAFAFA;
  text-decoration-color: #319bcc;
}

.cs-cslogo-cobrand-color {
  display: none;
}

.cs-logo-cobrand-container:hover .cs-cslogo-cobrand-color {
  display:block;
  border-bottom: 1px solid var(--link-underline-color);
}

.cs-logo-cobrand-container:hover .cs-cslogo-cobrand-gray {
  display: none;
}

.cs-h1 {
  padding-top: 45px;
}

@media(max-width: 1300px) {
  .cs-h1 {
    font-size: 2rem;
  }
}

.cs-welcome-type {
  box-shadow: rgb(0 0 0 / 6%) 0px 1px 8px 0px, rgb(0 0 0 / 16%) 0px 15px 15px -18px;
  border-bottom: 4px solid #cadef1;
  display: flex;
  flex-direction: column;
  height: auto;
  text-decoration: none;
}

.cs-welcome-type i {
  font-size: 50px;
  margin: 30px 0 15px 0;
}

.cs-welcome-type strong {
  margin-bottom: 30px;
}

.bg-container {
  height: 225px;
}

@media(max-width: 768px) {
  .bg-container {
    height: 125px;
  }
  
}

@media(max-width: 768px) {
  .cs-h1 {
    padding-top: 25px;
  }
}

@media(max-width: 540px) {
  .cs-h1 {
    font-size: 1.75rem;
  }
}

.cs-h1 span {
  font-weight: 700;
}

.cs-portal-nav {
  background: rgba(255,255,255,1);
  border-bottom: 1px solid #eff2f9;
  align-items: center;
}

@media(max-width: 991px) {
  .cs-portal-nav {
    background: rgba(255,255,255,1);
  }
}

.cs-portal-brand {
  align-items: center;
  display: flex;
}

.cs-cobrand {
  color: #555;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.3;
}

@media(max-width: 768px) {
  .cs-cobrand {
    display: none;
  }
}

.cs-navbar-brand-powered-by {
  color: #ccc;
  font-size: 1rem;
  font-weight: 400;
}

.cs-partner-logo {
  height: 95px;
  margin-right: 30px;
  transition: height ease .2s;
}

@media(max-width: 768px) {
  .cs-partner-logo {
    height: 75px;
  }
}

.cs-main-content {
  background: #fff;
  padding-top: 25px;
  padding-bottom: 75px;
}

@media(max-width: 991px) {
  .cs-main-content {
    padding-top: 25px;
  }
}

.cs-cta-focus-area {
  background: #FFF;
  margin-top: -95px;
  padding: 30px;
  border-radius: 5px 5px 0 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  min-height: 300px;
}

@media(max-width: 768px) {
  .cs-cta-focus-area {
    margin-top: 45px;
  }
}

.cs-cta-welcome {
  z-index: 1;
}

.cs-cta-developer {
  background: #FFF;
  z-index: 2;
}

.cs-cta-container {
  position: relative;
  width: 100%;
}

.cs-active-programs-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cs-active-programs-list li {
  align-items: flex-start;
  background: rgba(255,255,255, 0.7);
  box-shadow: rgb(0 0 0 / 6%) 0px 1px 8px 0px, rgb(0 0 0 / 16%) 0px 15px 15px -18px;
  border-left: 4px solid #cadef1;
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 0 20px 0;
  padding: 15px;
}

.cs-active-program-cta {
  border: 1px solid #1B2A3F;
  color: #1B2A3F;
  font-size: .8rem;
  font-weight: 400;
  margin-left: 30px;
  padding: 5px 10px;
  text-decoration: none;
  white-space: nowrap;
}

.cs-active-program-details {
  font-size: .8rem;
  font-weight: 400;
}

.cs-active-program-details {
  padding-left: 21px;
}

.cs-active-program-cta:hover {
  background: #1B2A3F;
  color: #FFF;
  text-decoration: none;
}

.cs-extra-links {
  margin: 0;
  padding: 0 0 0 18px;
}

.cs-active-program-info i {
  margin-right: 7px;
}

.cs-active-program-name {
  align-items: flex-start;
  display: flex;
  line-height: 1.4;
  margin-top: 5px;
}

.cs-active-program-name i {
  margin-top: 2px;
}

.cs-list-instruct {
  align-items: center;
  display: flex;
  font-weight: 600;
  margin-bottom: 15px;
}

.cs-list-instruct i {
  font-size: 2rem;
  margin-right: 15px;
  color: #222;
}

.cs-form-container-spinner {
  background: rgba(255,255,255,0.4);
  display: none;
  height: 100%;
  position: absolute;
  left: 0; right: 0;
  width: 100%;
  z-index:1;
}

@media(max-width: 768px) {
  .cs-list-instruct {
    display: none;
  }
  .cs-active-program-name {
    font-size: .9rem;
    line-height: 1.2;
  }
}

.cs-active-program-info:hover {
  cursor: pointer;
}

.cs-active-programs-list-item .fa-square-plus {
  display: inline;
}

.cs-active-programs-list-item .fa-square-minus {
  display: none;
}

.cs-active-programs-list-item .cs-active-program-details {
  display: none;
}

.cs-active-programs-list-item.open .fa-square-plus {
  display: none;
}

.cs-active-programs-list-item.open .fa-square-minus {
  display: inline;
}

.cs-active-programs-list-item.open .cs-active-program-details {
  display: block;
}

.cs-help-footer {
  background: #1c3859;
  color: #FFF;
  padding: 45px 0;
}

.cs-help-footer a, 
.cs-help-footer a:visited {
  color: #FFF;
}

.cs-footer-util-links {
  margin-top: 8px;
}

.cs-footer-util-links a,
.cs-footer-util-links a:visited {
  color: #fafafa;
}

.cs-footer {
  background: #132e51;
  color: #fafafa  ;
  padding: 60px 0;
}

.powered-by-footer {
  align-items: center;
  display: flex; 
  flex-direction: row;
  margin: 10px auto 15px auto; 
  justify-content: center;
}

.cs-address-input {
  z-index: 0 !important;
}

.cs-address-form-button {
  border-radius: 0 .375rem .375rem 0 !important;
}

.cs-list-response {
  display: none;
  opacity: 0;
}

.cs-list-response.show {
  display: block;
}

.cs-subscribe {
  background: #f5f5f5; padding: 50px; border-top: 1px solid #DDD;
}

.cs-subscribe-form-container {
  max-width: 60%;
  margin: 0 auto;
}

@media(max-width: 991px) {
  .cs-subscribe {
    padding: 30px 0px;
  }
  .cs-subscribe-form-container {
    max-width: 100%;
  }
}

/* tabs styles */

.cs-user-type-tabs {
  border-bottom: 1px solid #CCC;
  margin-top: -72px;
  margin-bottom: 30px;
}

.nav-pills .nav-link {
  border-radius: 0;
  color: #333;
  border-right: 1px solid #CCC;
}

@media(max-width: 991px) {
  .nav-pills .nav-link {
    border: none;
  }
  .nav-pills .nav-link.active {
    border: none;
    top: 0;
    border: 1px solid #DDD;
    border-width: 1px 1px 0 1px;
  }
  
  .nav-pills .nav-link.active span, {
    border-bottom: 2px solid #132e51;
  }
  
  .nav-pills .nav-link.active i {
    color: #132e51;;
  }
  
  .cs-cta-focus-area{
    border: 1px solid #e1e1e1;
  }
}

.nav-pills .nav-link.active {
  background: #FFF;
  color: #222;
  border-radius: 0;
  position: relative;
  top: 1px;
}

@media(max-width: 540px) {
  .cs-header-copy {
    margin-bottom: 2.3rem;
  }
  .cs-user-type-tabs {
    margin-top: -84px;
  }
  .nav-pills .nav-link i {
    display: block;
  }
  .nav-pills .nav-link {
    font-size: .9rem;
  }
}
