html body a, html body div, html body p, html body input {
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.bg-inverse {
    background: rgba (0,0,0,0.8);
}

.nav.navbar-nav {
    margin-top: 7px;
}

.navbar-brand img {
    width: 75%;
}

.main-content {
    padding-top: 80px;
}