/* Typography setup **************************************************************/
/* Trade Gothic BdCn20 */
@font-face {
    font-family: 'TradeGothicLTStdBdCn20';
    src: url('fonts/TradeGothicLTStdBdCn20.eot');
    src: url('fonts/TradeGothicLTStdBdCn20.eot') format('embedded-opentype'),
         url('fonts/TradeGothicLTStdBdCn20.woff2') format('woff2'),
         url('fonts/TradeGothicLTStdBdCn20.woff') format('woff'),
         url('fonts/TradeGothicLTStdBdCn20.ttf') format('truetype'),
         url('fonts/TradeGothicLTStdBdCn20.svg#TradeGothicLTStdBdCn20') format('svg');
}


/* project css var setup *********************************************************/
@brand-color: rgb(0, 172, 236);
@title-font: 'TradeGothicLTStdBdCn20', sans-serif;
@body-font: 'Source Sans Pro', sans-serif;
@white: rgb(255,255,255);
@body-color: #e2e2e2;
@body-color-inner: #f0f0f1;

/* Template elements ***********************************************************************/
body {
  background: @body-color;
  font-family: @body-font;
  padding-top: 108px;
}

html.no-scroll,
body.no-scroll {
  overflow: hidden;
}

/* grid container setup */
.container-fluid {
  overflow: hidden;
}

body.fixed .container-fluid {
  max-width: 1300px;
}

.container-inner {
  margin: 0 auto;
  width: 80%;

}

/* no gutter columns (apply to "row" in a container-fluid) */
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

/* core link styles */
a, 
a:visited {
  color: @brand-color;
  
  -webkit-transition: all 500ms ease .05;
    -moz-transition: all 500ms ease .05s;
    -o-transition: all 500ms ease .05s;
    transition: all 500ms ease .05s;
}

a:hover {
  color: darken(@brand-color, 10%);
}

header#main {
  background: none;
  height: 108px;
  
  -webkit-transition:all ease-in-out .50s;
    -moz-transition:all ease-in-out .50s;
    -o-transition: all ease-in-out .50s;
    transition: all ease-in-out .50s;
  
  .container-fluid {
    background: @white;
  }
  
  .brand {
    display: inline-block;
    float: right;
    height: 42px;
    margin: 35px 130px 0 0;
    padding: 0;
    width: 219px;
  }
  
  .nav-toggle {
    background: @brand-color;
    color: @white;
    display: inline-block;
    float: left;
    font-size: 28px;
    height: 108px;
    width: 130px;
    text-align: center;
    text-decoration: none;
    
    i { 
      display: block;
      font-weight: 300;
      margin-top: 30px;
      -webkit-transition:all ease .30s;
        -moz-transition:all ease .30s;
        -o-transition: all ease .30s;
        transition: all ease .30s;
    }
    
    span {
      color: @white;
      display: block;
      font-family: @body-font;
      font-size: 13px;
      letter-spacing: 2px;
      margin-top: 10px;
      text-transform: uppercase;
    }
    
    span.close-menu {display: none;}
    
    &:hover {
      background: lighten(@brand-color, 20%);
    }
  }
  
  .nav-toggle.on {
    background: #999;
    
    i {
      .rotate(90deg)
    }
    
    span.open { display: none; }
    span.close-menu { display: block; }
  }
  
  .dropdown-menu {
    background: @brand-color;
    .border-radius(0);
    border: none;
    height: auto;
    overflow-y: scroll;
    position:fixed;
    top: 106px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    
    li a {
      color: @white;
      font-family: @body-font;
      font-size: 70px;
      font-weight: 300;
      padding-top: 6px;
      padding-bottom: 6px;
      text-align: center;
      
      &:hover {
        background: lighten(@brand-color, 15%);
      }
    }
  }
}

body.fixed .dropdown-menu {
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 1300px;
}

#footer {
  background: @white;
  padding: 50px 0;
  
  a {
    display: inline-block;
    font-size: 30px;
    margin-left: 20px;
    
    &:first-child {
      margin-left: 0;
    }
  }
  
  .social a {
    color: #888;
  }
  
  .brands a {
    font-size: 16px;
    margin-left: 2%;
    text-transform: uppercase;
    
    &:first-child {
      margin-left: 0;
    }
  }
}

/* individual page styles *********************************************************/
.home {
  .hero {
    .hero-set("img-hero-home.jpg", 700px, 30%, 71px);
  }
  
  .slot-job {
    background: @white;
    padding: 0;

    header {
      background: @white;
      display: block;
      padding: 50px 0 30px 50px;
      text-align: left;
      position: relative;
      z-index: 100;

      h1 {
        border-bottom: 1px solid @brand-color;
        padding-bottom: 20px;
        margin-bottom: 20px;
        .title-font(50px, rgb(92, 102, 112));
      }

      p {
        .body-font(26px, #777, 300);
        margin: 0;
        width: 60%;
      }
      
      a.btn-action-small {
       position: absolute;
       bottom: 0;
       right: 0;
       z-index: 10;
      }
    }
    
    img {
      margin-top: -100px;
    }
  }
  
  .slot-tiles {
    background: @white;
    .header-tile {
      padding-left: 5%;
      
      h1 {
        color: #888;
        display: block;
        font-size: 63px;
        font-weight: 200;
        margin-top: 20%;
        margin-bottom: 30px;
        text-align: left;
        span{ display: block; }
      }
      
      a {
        display: block;
        font-size: 22px;
        font-weight: 200;
        text-align: left;
        .right-arrow;
      }
    }
    
    a {
      position: relative;
      
      
      &:hover {
        .hover-overlay {
          opacity: 1;
          height: auto;
        }
      }
      img.logo {
        position: absolute;
        text-align: center;
        margin: 0 auto;
        top: 47%;
        left: 0;
        right: 0;
        width: 55%;
        z-index: 10;
        
        &.tingo {
          top: 45%;
          width: 38%;
        }
        &.onetime {
          top: 42%;
          width: 30%;
        }
        &.oyster {
          top: 45%;
          width: 40%;
        }
        &.airfarewatchdog {
          width: 55%;
        }
      }
      
      .hover-overlay {
        background: fade(@brand-color, 75%);
        display: block;
        opacity: 0;
        height: 0;
        overflow: hidden;
            -webkit-transition: opacity .20s ease-out;
              -moz-transition: opacity .20s ease-out;
              -o-transition: opacity .20s ease-out;
              transition: opacity .20s ease-out;
        padding: 0;
        position: absolute;
        text-align: center;
        width: 100%; 
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9;
        
        div {
          border-top: 1px solid @white;
          color: @white;
          padding-top: 10px;
          font-size: 14px;
          letter-spacing: 3px;
          margin: 20px auto 0 auto;
          text-transform: uppercase;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 30%;
          width: 70%;
          .right-arrow;
        }
      }
    }
  }
}

.advertisers {
  .hero {
    .hero-set("img-hero-advertisers.jpg", 300px, 50%, 83px);
  }
  
  .slot-adv {
    padding: 75px; 
    
    .details {
      margin-top: 60px;
      img.logo { margin: 0 0 40px 0; width: 50%; }
      p { font-size: 22px; line-height: 160%; margin-bottom: 40px; }
      a { .btn-action-small; .right-arrow;  }
    }
    
    &.stripe-even {
      .stripe-even;
    }
  }
}

.careers {
  .hero {
    .hero-set("img-hero-careers.jpg", 600px, 40%, 83px);
  }
}

.press {
  .hero {
    .hero-set("img-hero-press.jpg", 600px, 50%, 104px);
  }
}

.company {
  .hero {
    .hero-set("img-hero-company.jpg", 700px, 50%, 71px);
  }
}

.publishers {
  .hero {
    .hero-set("img-hero-publishers.jpg", 300px, 50%, 57px);
  }
}

/* Components and mixins *************************************************************/

.rotate(@degrees) {

  /* Safari */
  -webkit-transform: rotate(@degrees);

  /* Firefox */
  -moz-transform: rotate(@degrees);

  /* IE */
  -ms-transform: rotate(@degrees);

  /* Opera */
  -o-transform: rotate(@degrees);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.title-font(@size, @color) {
  color: @color;
  font-family: @title-font;
  font-size: @size;
  text-transform: uppercase;
}

.body-font(@size, @color, @weight) {
  color: @color;
  font-family: @body-font;
  font-size: @size;
  font-weight: @weight;
  line-height: 160%;
}

.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.btn-action {
  background: @brand-color;
  color: @white;
  display: inline-block;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 4px;
  line-height: 20px;
  padding: 25px;
  margin-left: 30px;
  text-transform: uppercase;
  
  &:hover {
    background: lighten(@brand-color,20% );
    text-decoration: none;
  }
  
  &:first-child {
    margin-left: 0;
  }
}

.btn-action-small {
  .btn-action;
  color: @white !important;
  font-size: 16px;
  letter-spacing: 2px;
  margin: 0;
  padding: 15px;
}

/* adds the right arrow to links / buttons */
.right-arrow {
  &:after {
    content: "\2192";
    margin-left: 7px;
  }
}

.title-sticker {
  background: @white;
  color: #666;
  font-family: @title-font;
  font-size: 48px;
  display: inline-block;
  line-height: 100%;
  margin: 0 auto 40px auto;
  padding: 30px 30px 20px 30px;
  text-transform: uppercase;
}

/*** HERO AREA SETUP ****/

.hero-set(@background, @height, @top, @title-size) {
  background: url("../images/@{background}") no-repeat bottom center;
  background-size: cover;
  position: relative;
  min-height: @height;
  
  .container-inner {
    left: 0;
    right: 0;
    top: @top;
    position: absolute;
    text-align: center;
    z-index: 10px;
  }
  
  h1 {
    color: #FFF;
    display: block;
    font-family: @title-font;
    font-size: @title-size;
    letter-spacing: 4px;
    margin: 0 0 40px 0;
    text-transform: uppercase;
    width: 100%;
  }
  
  p {
    color: @white;
    display: block;
    font-family: @body-font;
    font-weight: 200;
    font-size: 28px;
    line-height: 32px;
    margin: 0 auto;
    
    span {
      display: block;
    }
  }
  
  footer {
    border-top: 1px solid @white;
    margin: 40px auto 0 auto;
    padding-top: 40px;
    
    a {
      .btn-action;
    }
    
    &.right-arrow {
      a {
        .right-arrow
      }
    }
  }
}

.slot-title-and-text {
  background: @body-color-inner;
  text-align: center;
  padding: 50px 0;
  
  .container-inner {
    background: inherit;
    padding: 50px 0;
    position: relative;
    z-index: 10;
    
    p {
      .body-font(28px, #5c6670, 300);
      margin: 0 auto;
      width: 80%;  
      }
  }
  
  h1 {
    .title-sticker;
  }
  
  p {
    font-family: @body-font;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 200;
    
    span {
      display: block;
    }
  }
  
  &.stripe-even {
    .stripe-even;
  }
}

.slot-title-and-text.offset-top {
  .container-inner {
    margin-top: -100px;
  }
}

.stripe-even {
  background: @white;
}

.stripe-odd {
  background: #f0f0f0;
}

/* Media Queries for Responsive ******************************************************/

@media (max-width: 550px) {
  header#main {
    .brand{
      float: right;
      margin-right: 10px;
      width: 50%;
    }
  }
  
  #hero {
    background: transparent url(../images/img-home-hero-mobile.jpg) no-repeat top center;
    background-size: auto auto;
    height: 691px;
    
    img { display: none; }
  }
  
  #main-nav ul li a {
    font-size: 42px;
    line-height: 70px;
  } 
}