/* PROPERTY PAGE STYLES ***************************************************/
body {
  background: rgba(255,255,255,1);
}

.container-fluid {
  width: 99%;
  max-width: 1342px;
}

#gallery-container {
  position: relative;
}

#gallery {
  width: 100% !important;
  max-width: 1500px !important;
  max-height: 500px !important;
  margin: 0 auto;
}

.content-block-first {
  margin-top: 0;
}

.hotel-header-container {
  background: rgba(255,255,255,1);
  border-bottom: 1px solid #888;
  padding: 20px 0 0 0;
  margin-bottom: 30px;
  z-index: 100;
}


#side-nav {
  background: #FFF;
  padding: 0;
}

#hotel-header h1 {
  color: rgba(0,0,0,0.87); 
  font-size: 35px;
  transition: ease all 0.3s;
}

#hotel-header .rating {
  font-size: 18px;
}

#hotel-header .ratingMeaning {
  color: rgba(0,0,0,0.87);
}

.ug-thumbs-grid {
  top: 11.5px !important;
}

.ug-gallery-wrapper .ug-grid-panel {
  z-index: 3 !important;
}

.ug-textpanel {
  display: none !important;
}

.page-content.property-body {
  padding-top: 30px;
}

.ta-prop-details {
  font-size: 14.5px;
}

a.ta-prop-back {
  background: rgba(0,0,0, 0.52);
  box-sizing: border-box;
  border-radius: 5px;
  color: rgba(255,255,255, 1);
  font-size: 12px;
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 5px 10px;
  text-decoration: none;
  z-index: 3;
}

.ta-green,
.ui_icon:before {
  color: #589442;
}

.property-price-block {
  text-align: center;
}

.main-affiliate {
  color: rgba(0,0,0,0.67);
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;
  text-align: center;
}

.main-affiliate-price,
.ta-price {
  color: rgba(0,0,0,.85);
  display: inline-block;
  font-size: 32px;
  text-align: center;
  white-space: nowrap;
}

.main-affiliate-price .night-label,
.ta-price .night-label {
  color: rgba(0,0,0,.65);
  font-size: 14px;
}

.ta-property-subnav {
  display: block;
  transition: ease all 0.3s;
}

.ta-property-copy {
  border-left: 1px solid #589442;
  padding-left: 20px;
}

.inline-divider {
  color: #DDD;
  display: inline-block;
  margin: 0 10px;
}

.ta-property-subnav {
  margin: 15px 0 0 0;
}

.ta-property-subnav li {
  display: inline-block;
  padding: 10px 20px 15px 20px;
}

.ta-property-subnav li a {
  border-bottom: 2px transparent;
  color: rgba(0,0,0,0.87);
  cursor: pointer;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  display: inline-block;
  font-weight: 300;
}

.ta-property-subnav li a.active {
  border-bottom: 3px solid #589442;
}

.ta-property-subnav li:first-child {
  padding-left: 0;
}

.hotel-header-container.is_stuck {
  background: #FFF;
  border-bottom: 1px solid #888;
  box-shadow: 0 0 3px #CCC;
  position: fixed !important;
  top: 0 !important;
  left: 0;
  right: 0;
  bottom: auto !important;
  width: 100%;
  padding-top: 15px;
  margin-bottom: 15px;
  transition: ease all 0.3s;
}

.price-sidebar {
  transition: ease all 0.4s;
}

.hotel-header-container .price-sidebar {
  background: #FFF;
  border: 1px solid #888;
  border-width: 0 1px;
  padding: 30px 20px 0 20px;
  margin-top: -20px;
  position: absolute;
  right: 0;
  height: 1000px;
  z-index: 100;
}

.hotel-header-container.is_stuck #hotel-header h1 {
  font-size: 28px;
}

.hotel-header-container.is_stuck .rating,
.hotel-header-container.is_stuck .location {
  display: none;
}

.hotel-header-container.is_stuck .ta-property-subnav {
  margin: 0;
  position: relative;
  bottom: -2px;
}

.ta-property-section-content {
  height: auto;
}

.ta-property-section-content {
  border-bottom: 1px solid #888;
  padding-top: 30px;
  padding-bottom: 30px;
}


.ta-property-section-content h2 {
  font-family: Helvetica, sans-serif;
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 30px;
  /*
  border-top: 3px solid #555;
  display: inline-block;
  padding-top: 9px;
  position: relative;
  top: -22px;
  */
}

.maxOccupancy img {
  max-height: 20px;
}

.ta-property-section-content h2:after {
  content: "";
  display: table;
  clear: both;
}

.map-container {
  width: 100%;
  position: relative;
  padding-bottom: 70%;
  height: 0;
  overflow: hidden;
}

.map-container iframe {
  position: absolute;
  width: 100% !important;
  height: 750px !important;
  top: 0;
  left: 0;
  display: block;
  pointer-events: none;
}

.map-container iframe.clicked{
  pointer-events: auto;
}

.neighborhood-card {
  background: rgba(255,255,255,1);
  box-sizing: border-box;
  box-shadow: 0 0 5px #DDD;
  height: auto;
  position: absolute;
  overflow: hidden;
  top: 10px; 
  left: 10px;
  width: 360px;
  z-index: 20; 
  padding-bottom: 40px;
}

.neighborhood-card-close {
  position: absolute;
  cursor: pointer;
  z-index: 21;
  right: 10px;
  top: 10px;
  background: #FFF;
  box-shadow: 0 0 4px #CCC;
  color: #222;
  box-sizing: border-box;
  padding: 5px;
  font-size: 12px;
}

.ta-prop-header {
  display: flex;
}

.ta-prop-header h2 {
  flex: 1;
}

.ta-prop-header .action {
  flex: 1;
  display: flex;
  flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

.ta-prop-header .action a {
  background: #F2f2f2;
  border-bottom: 3px solid #CCC;
  height: 30px;
  font-size: 14px;
  border-radius: 2px;
  color: #555;
  padding: 5px 10px;
  margin-left: 10px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.neighborhood-card img {
  max-width: 360px;
  margin-top: -2px;
}

.neighborhood-card-content {
  padding: 20px;
  height: 250px;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.neighborhood-card-content h3 {
  margin-bottom: 20px;
}

.neighborhood-card .actions {
  border-top: 1px solid #DDD;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 21;
  box-sizing: border-box;
}

.neighborhood-card .actions a {
  color: #222;
  font-weight: 400;
  font-size: 13px;
  display: inline-block;
  text-align: center;
  padding: 13px;
}

.neighborhood-card .actions a:first-child {
  border-right: 1px solid #DDD;
}

.neighborhood-card .actions a:last-child {
  border-left: 1px solid #DDD;
  padding-left: 25px;
}

.rr-img {
  max-height: 125px;
  overflow: hidden;
}

.rr-row h3 {
  font-weight: normal;
  font-family: Helvetica, sans-serif;
  letter-spacing: .5px;
  margin-top: 7px;
}

.rr-row .ta-price {
  font-size: 25px;
}



@media (max-width: 768px) {
  .neighborhood-card {
    display: none; 
  }
  
  .hotel-header-container .price-sidebar {
    display: none;
  }
  
}