body {
  font-family: 'Lato', sans-serif;
}

.navbar, .toolbar, .subnavbar {
  background: #589442;
}

.view-main .navbar {
  background: #FFF;
  border-top: 5px solid #589442;
  border-bottom: 1px solid #DDD;
  box-shadow: 0 0 3px #DEDEDE;
}

.card {
  margin: 0;
}

.card-content h3 {
  font-size: 20px;
}

.reviews {
  color: #222;
  font-size: 14px;
  margin-top: 7px;
}

.reviews time {
  color: #999;
  font-size: 12px;
  font-style: italic;
}


/* list page property blocks */
.swiper-wrapper,
.swiper-zoom-container,
.swiper-slide {
  max-height: 225px;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto;
  text-shadow: 0 0 2px #333;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto;
  text-shadow: 0 0 2px #333;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #FFF;
  opacity: 0.3;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #FFF;
}

.list-block .item-link .item-inner {
  background: none;
}