.navbar {
  padding: 0;
}

.modal-dialog {
  max-width: 590px !important;
}

.help-block {
  position: absolute;
  font-size: .9rem;
  color: #777;
  right: 20px;
}

.form-group { position: relative; }
.help-block { 
  position: absolute;
  font-size: .9rem;
  color: #777;
  right: 0px;
  bottom: 23px;
  border: 1px solid #ced4da;
  padding: 8px 10px 7px 10px;
  z-index: 10;
}

.modal-header,
.modal-body {
  padding: 2rem;
}

.modal-header {
  padding: 1rem 2rem;
}

.jumbotron {
  background: none;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #DDD;
}

.twitter-typeahead {
  display: block !important;
  width: 92%;
}

.modal-footer {
  background: #e9ecef;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.ios .toggle-handle { border-radius: 20px; }

.toggle-container {
  color: #999;
  position: absolute;
  left: 30px;
  z-index: 100;
}

.toggle {
  border: 1px solid #DDD;
}

.toggle.ios .toggle-handle {
  background: #FFF;
}

.toggle-on, .toggle-off {
  top: -3px !important;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-save {
  margin-left: 10px;
}

.queues-table tr.sub-row-1 {
  display: none;
}

.queues-table tr.sub-row-1.disabled td {
  color: #999;
}

.queues-table tr.sub-row-1.disabled td svg {
  color: #444;
}

.queues-table tr td:last-child {
  width: 80px;
}

.queues-table tr td:last-child svg:first-child {
  margin-right: 10px;
}

.queues-table tr td:last-child svg {
  display: none;
}

.queues-table tr:hover td:last-child svg {
  display: inline;
}
